
body {
  font-size: 16px;
  color: #fff;
  background-color: #f6b319;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color:  green;
  border-radius: 0;
  border: 0;
  height: 80px;
}

.navbar-brand {
  padding-top: 15;
}

#nav-list {
  margin-top: 3px;
  background: purple;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: green;
}
#nav-list a span {
  font-size: 1.8em;
}
#nav-botton {
  margin-top:24px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Dancing+Script|Droid+Sans|Lato|Oswald|Roboto', serif;
  color: white;
  font-size: 2em;
  text-transform: auto;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  padding-top: 0px;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav li {
  border-color: lightgreen;
  text-align: center;
  font-weight: normal;
}

.container h2 {
  text-align: center;
  color: yellow;
}

#menu-categories-title{
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 2.5em;
}

#menu-categories-title + section {
  margin-bottom: 50px;
  margin-right: 50px;
}

#t1 {
  margin-bottom: 50px;
  margin-right: 50px;
}


.container {
  margin-left: 0px;
  padding-top: 4px;
  width: 100%;
}

.navbar-brand p { /* PVT Ltd.*/
  color: #000;
  text-transform: normal;
  font-size: .8em;
  text-align: right;
  margin-top: 4px;
  margin-right: 4px;
  color: white;
}
/*
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px white;
}*/
section {
  position: relative;
  overflow: hidden;
  border: 1px solid purple;
  background-color: green;
}

/* Simple Responsive Framework. */
