body {
  font-size: 16px;
  color: #fff;
  background-color: #f6b319;
  font-family: 'Oxygen', sans-serif;
}

.container h2 {
  text-align: center;
  color: yellow;
}

#menu-categories-title + section {
  margin-bottom: 50px;
  margin-right: 50px;
}

#t1 {
  margin-bottom: 50px;
  margin-right: 50px;
}


/** HEADER **/
#header-nav {
  background-color:  green;
  border-radius: 0;
  border: 0;
  height: 80px;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Dancing+Script|Droid+Sans|Lato|Oswald|Roboto', serif;
  color: white;
  font-size: 2em;
  text-transform: auto;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* PVT Ltd.*/
  color: #000;
  text-transform: normal;
  font-size: .8em;
  text-align: right;
  margin-top: 4px;
  margin-right: 4px;
  color: white;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

section {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  background-color: green;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

#nav-list {
  margin-top: 3px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: lightgreen;
}
#nav-list a span {
  font-size: 1.8em;
}

