
/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 175%;
}

h2 {
	border:1px solid black;
	height:30px;
	position: absolute;
	top: 0px;
	right: 0px;
	clear: left;
	margin-top: 0px;
	font-size: 130%;
}

div {
  /*border: 1px solid black;
  background-color: green;
  width: 95%;
  height: 200px;
  font-family: Helvetica;
  color: white;*/
  margin-top: 30px;
	padding: 5px;
	margin-right: 2px;
	margin-bottom: 2px;
  margin-left: 2px;
}

/*p {
  border: 1px solid black;
  background-color: brown;
  width: 20%;
  height: 25px;
  font-family: Helvetica;
  color: white;
  float: right;
}*/
section {
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	background-color: green;
}

#T1 {
	background-color: red;
}
#T2 {
	background-color: yellow;
}
#T3 {
	background-color: purple;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.co {
  margin: 2px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid black;
    margin: 2px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid black;
    margin: 2px;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}